<% content_for :javascript do %>
  <%= javascript_include_tag 'staffs' %>
<% end %>

<%= form_for @staff, html: {class: "form-horizontal"} do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @staff.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :cd %></label>
    <div class="controls">
      <%= f.text_field :cd, class: 'span1' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %></label>
    <div class="controls">
      <%= f.text_field :name, class: 'span3' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :office_cd %></label>
    <div class="controls">
      <div class="input-prepend" id="input_office_cd">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
        <%= f.text_field :office_cd, class: "span1" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save'), class: "btn btn-warning btn-large" %>
    <%= link_to t('buttons.back'), staffs_path, class: "btn btn-large" %>
  </div>
<% end %>

<%= render partial: "download/modal" %>
