<% content_for :javascript do %>
  <%= javascript_include_tag 'display_condition' %>
<% end %>

<div class="page-header">
  <h3><%= t('views.staffs.actions.index.title').html_safe %></h3>
</div>

<div class="well">
  <%= link_to t('buttons.new').html_safe, new_staff_path, class: "btn btn-primary" %>
</div>

<%= render partial: "shared/display_condition" %>

<%= paginate @staffs %>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th class="span2"><%= t('activerecord.attributes.staff.cd') %></th>
      <th><%= t('activerecord.attributes.staff.name') %></th>
      <th><%= t("activerecord.attributes.office.name") %></th>
      <th class="span2"></th>
      <th class="span2"></th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.cd %></td>
        <td><%= staff.name %></td>
        <% if !staff.office_cd.blank? %>
          <% office = Office.find_by_cd(@current_user.id, staff.office_cd).first %>
          <% if !office.nil? %>
            <td><%= office.name %></td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <td></td>
        <% end %>
        <td style="text-Align:center;"><%= link_to t('buttons.edit').html_safe, edit_staff_path(staff), class: "btn btn-warning" %></td>
        <td style="text-Align:center;"><%= destroy_link_to staff %></td>
      </tr>
    <% end %>
  </tbody>
</table>
