<%= form_for @license, html: {class: "form-horizontal"} do |f| %>
  <% if @license.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @license.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %></label>
    <div class="controls">
      <%= f.text_field :name, class: "span3" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :account %></label>
    <div class="controls">
      <%= f.text_field :account, class: "span3" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :password %></label>
    <div class="controls">
      <%= f.password_field :password, class: "span2" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :password_confirmation %></label>
    <div class="controls">
      <%= f.password_field :password_confirmation, class: "span2" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :uuid %></label>
    <div class="controls">
      <%= f.text_field :uuid, class: "span4" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save'), class: "btn btn-warning btn-large" %>
    <%= link_to t('buttons.back'), licenses_path, class: "btn btn-large" %>
  </div>
<% end %>
