<% content_for :javascript do %>
  <%= javascript_include_tag 'licenses' %>
<% end %>

<div class="page-headr">
  <h3><%= t('views.licenses.actions.index.title').html_safe %></h3>
</div>

<div class="well">
  <%= link_to t('buttons.new').html_safe, new_license_path, class: "btn btn-primary" %>
</div>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.license.name') %></th>
      <th><%= t('activerecord.attributes.license.account') %></th>
      <th><%= t('activerecord.attributes.license.uuid') %></th>
      <th><%= t('activerecord.attributes.license.created_at') %></th>
      <th><%= t('views.licenses.actions.index.th.device') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @licenses.each do |license| %>
      <% if license.activation %>
        <tr>
      <% else %>
        <tr class="error">
      <% end %>
        <td><%= license.name %></td>
        <td><%= license.account %></td>
        <td><%= license.uuid %></td>
        <td><%= license.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        <% if !license.device.nil? %>
          <td><%= convert_icon(license.device.model).html_safe %> <%= license.device.model %></td>
        <% else %>
          <td></td>
        <% end %>
        <td style="text-Align:center;">
          <%= link_to t('buttons.stop').html_safe, stop_license_path(license), class: "btn btn-danger activate_license", method: :post, remote: true, id: 'stop', type: 'button' %>
          <%= link_to t('buttons.start').html_safe, start_license_path(license), class: "btn btn-success activate_license", method: :post, remote: true, id: 'start' %>
          <%= link_to t('buttons.edit').html_safe, edit_license_path(license), class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>