<%= form_for @office, html: {class: "form-horizontal"} do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :cd %></label>
    <div class="controls">
      <%= f.text_field :cd, class: 'span1' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %></label>
    <div class="controls">
      <%= f.text_field :name, class: 'span3' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save'), class: "btn btn-warning btn-large" %>
    <%= link_to t('buttons.back'), offices_path, class: "btn btn-large" %>
  </div>
<% end %>
