<% content_for :javascript do %>
  <%= javascript_include_tag 'display_condition' %>
<% end %>

<div class="page-header">
  <h3><%= t('views.offices.actions.index.title').html_safe %></h3>
</div>

<div class="well">
  <%= link_to t('buttons.new').html_safe, new_office_path, class: "btn btn-primary" %>
</div>

<%= render partial: "shared/display_condition" %>

<%= paginate @offices %>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th class="span2"><%= t('activerecord.attributes.office.cd') %></th>
      <th><%= t('activerecord.attributes.office.name') %></th>
      <th class="span2"></th>
      <th class="span2"></th>
    </tr>
  </thead>
  <tbody>
    <% @offices.each do |office| %>
      <tr>
        <td><%= office.cd %></td>
        <td><%= office.name %></td>
        <td style="text-Align:center;"><%= link_to t('buttons.edit').html_safe, edit_office_path(office), class: "btn btn-warning" %></td>
        <td style="text-Align:center;"><%= destroy_link_to office %></td>
      </tr>
    <% end %>
  </tbody>
</table>