<% content_for :javascript do %>
  <%= javascript_include_tag "upload" %>
<% end %>

<div class="page-header">
  <h3><%= t('views.upload.actions.import_file.title').html_safe %></h3>
</div>

<%= form_tag upload_path, class: "form-horizontal", multipart: true, remote: true do %>
  <div class="control-group">
    <label class="control-label"><%= t('views.upload.actions.import_file.label.data') %></label>
    <div class="controls">
      <%= select :page, :data,
        {
          t('views.upload.actions.import_file.options.default') =>  "",
          t('views.upload.actions.import_file.options.items')   =>  "items",
          t('views.upload.actions.import_file.options.offices') =>  "offices",
          t('views.upload.actions.import_file.options.staffs')  =>  "staffs",
          t('views.upload.actions.import_file.options.mylists') =>  "mylists"
        }
      %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('views.upload.actions.import_file.label.file') %></label>
    <div class="controls">
      <%= file_field_tag "file", id: "file" %>
    </div>
  </div>

  <div class="form-actions">
    <%= button_tag type: "submit", class: 'btn btn-large btn-success', data: {disable_with: t("buttons.is_uploading")} do %>
      <%= t('buttons.upload').html_safe %>
    <% end %>
    <button class="btn btn-large" id="cancel" type~"button"><%= t('buttons.cancel') %></button>
  </div>
<% end %>
