<!-- Modal -->
<div class="modal hide fade" id="modal_search" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal_label"><%= t("views.modal.title") %></h4>
      </div>
      <div class="modal-body">
        <table id="modal-table" class="table table-hover">
          <thead>
            <tr>
              <th class="modal_id"><%= t("views.modal.cd") %></th>
              <th class="modal_name"><%= t("views.modal.name") %></th>
              <th class="modal-button"></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("views.modal.close") %></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
