<%= form_tag download_search_path, class: "form-horizontal", method: :get, remote: true do %>
  <div class="control-group">
    <label class="control-label"><%= t('activerecord.attributes.result_head.result_date') %></label>
    <div class="controls">
      <input type="text" name="from_result_date" class="span2 datepicker" id="from_result_date" />
      <%= t('label.from_to') %>
      <input type="text" name="to_result_date" class="span2 datepicker" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('activerecord.attributes.result_head.jobno') %></label>
    <div class="controls">
      <input type="text" name="from_jobno" class="span2">
      <%= t('label.from_to') %>
      <input type="text" name="to_jobno" class="span2">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('activerecord.attributes.result_head.categorycd') %></label>
    <div class="controls">
      <div class="input-append" id="from_categorycd">
        <input type="text" id="from_categorycd" name="from_categorycd" class="span1">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
      </div>
      <%= t('label.from_to') %>
      <div class="input-append" id="to_categorycd">
        <input type="text" id="to_categorycd" name="to_categorycd" class="span1">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('activerecord.attributes.result_head.officecd') %></label>
    <div class="controls">
      <div class="input-append" id="from_officecd">
        <input type="text" id="from_officecd" name="from_officecd" class="span1">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
      </div>
      <%= t('label.from_to') %>
      <div class="input-append" id="to_officecd">
        <input type="text" id="to_officecd" name="to_officecd" class="span1">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('activerecord.attributes.result_head.staffcd') %></label>
    <div class="controls">
      <div class="input-append" id="from_staffcd">
        <input type="text" id="from_staffcd" name="from_staffcd" class="span1">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
      </div>
      <%= t('label.from_to') %>
      <div class="input-append" id="to_staffcd">
        <input type="text" id="to_staffcd" name="to_staffcd" class="span1">
        <button class="btn search" type="button"><i class="icon-search"></i></button>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('activerecord.attributes.result_head.export') %></label>
    <div class="controls">
      <div class="switch" id="export" data-on="danger" data-on-label=<%= t('label.already') %> data-off="success" data-off-label=<%= t('label.not_yet') %>>
        <input type="checkbox" name="export" />
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button_tag type: "submit", class: 'btn btn-large btn-primary', id: 'search', remote: true do %>
      <%= t('buttons.search').html_safe %>
    <% end %>
    <button class="btn btn-large" id="cancel" type="button"><%= t('buttons.cancel') %></button>
  </div>
<% end %>
