<p align="right">
  <%= link_to t('buttons.download').html_safe, download_export_file_path, class: 'btn btn-warning', type: 'submit' %>
</p>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('activerecord.attributes.result_head.jobno') %></th>
      <th><%= t('activerecord.attributes.result_head.result_date') %></th>
      <th><%= t('activerecord.attributes.category.cd') %></th>
      <th><%= t('activerecord.attributes.category.name') %></th>
      <th><%= t('activerecord.attributes.office.cd') %></th>
      <th><%= t('activerecord.attributes.office.name') %></th>
      <th><%= t('activerecord.attributes.staff.cd') %></th>
      <th><%= t('activerecord.attributes.staff.name') %></th>
      <th><%= t('views.download.actions.search.body_count') %></th>
      <th><%= t('activerecord.attributes.result_head.export') %></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each_with_index do |r, i| %>
      <tr>
        <td style="text-Align:right;"><%= i + 1 %></td>
        <td><%= r.jobno %></td>
        <td><%= r.result_date.strftime('%Y年%m月%d日') %></td>
        <td style="text-Align:right;"><%= r.categorycd %></td>
        <td>
          <% if r.category.nil? %>
            <%= t('label.nodata') %>
          <% else %>
            <%= r.category.name %>
          <% end %>
        </td>
        <td style="text-Align:right;"><%= r.officecd %></td>
        <td>
          <% if r.office.nil? %>
            <%= t('label.nodata') %>
          <% else %>
            <%= r.office.name %>
          <% end %>
        </td>
        <td style="text-Align:right;"><%= r.staffcd %></td>
        <td>
          <% if r.staff.nil? %>
            <%= t('label.nodata') %>
          <% else %>
            <%= r.staff.name %>
          <% end %>
        </td>
        <td style="text-Align:right;"><%= r.result_bodies.count %></td>
        <td style="text-Align:center;">
          <% if r.export === 0 %>
            <%= t('label.not_yet') %>
          <% else %>
            <%= t('label.already') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>