<% if @results.count != 0 %>
<div class="alert alert-info alert fade in">
  <strong><%= t('message.search_result', count: @results.count) %></strong>
<% else %>
<div class="alert alert-danger alert fade in">
  <strong><%= t('message.search_none') %></strong>
<% end %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<% if @results.count != 0 %>
  <%= render 'search_result_row' %>
<% end %>