<% content_for :javascript do %>
  <%= javascript_include_tag "download" %>
<% end %>

<div class="page-header">
  <h3><%= t('views.download.actions.search.title').html_safe %></h3>
</div>

<div class="accordion" id="search_form">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle btn btn-info" data-toggle="collapse" data-parent="#search_form" href="#content">
        <%= t('views.download.actions.search.form') %>
      </a>
    </div>
    <div id="content" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= render 'search_form' %>
      </div>
    </div>
  </div>
</div>

<div id="search_result"></div>

<%= render partial: "modal" %>
