<% common_body = f.object %>
<tr class="fields">
  <% if common_body && common_body.skucd? %>
    <td><%= f.text_field :skucd, class: "item_skucd span2", readonly: true %></td>
    <% if common_body.common_head_id.nil? %>
      <% item = Item.user_item_by_skucd(current_user, common_body.skucd) %>
      <td><%= f.label item.jancd, class: "item_jancd" %></td>
      <td><%= f.label item.name, class: "item_name" %></td>
      <td><%= f.label item.kind, class: "item_kind" %></td>
      <td style="text-Align:right;"><%= f.label item.price, class: "item_price" %></td>
      <td style="text-Align:right;"><%= f.label item.carton, class: "item_carton" %></td>
    <% else %>
      <td><%= f.label common_body.item.jancd, class: "item_jancd" %></td>
      <td><%= f.label common_body.item.name, class: "item_name" %></td>
      <td><%= f.label common_body.item.kind, class: "item_kind" %></td>
      <td style="text-Align:right;"><%= f.label common_body.item.price, class: "item_price" %></td>
      <td style="text-Align:right;"><%= f.label common_body.item.carton, class: "item_carton" %></td>
    <% end %>
  <% else %>
    <td><%= f.text_field :skucd, class: "item_skucd span2", readonly: true %></td>
    <td><%= f.label :item_jancd, class: "item_jancd" %></td>
    <td><%= f.label :item_name, class: "item_name" %></td>
    <td><%= f.label :item_kind, class: "item_kind" %></td>
    <td style="text-Align:right;"><%= f.label :item_price, class: "item_price" %></td>
    <td style="text-Align:right;"><%= f.label :item_carton, class: "item_carton" %></td>
  <% end %>
  <td style="text-Align:center;"><%= f.link_to_remove t('buttons.destroy').html_safe, class: "btn btn-danger" %></td>
</tr>