<% content_for :javascript do %>
  <%= javascript_include_tag "common_heads" %>
<% end %>

<%= nested_form_for @common_head, html: {class: "form-horizontal"} do |f| %>
  <% if @common_head.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @common_head.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :cd %></label>
    <div class="controls">
      <%= f.number_field :cd, class: 'span1' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %></label>
    <div class="controls">
      <%= f.text_field :name, class: 'span3' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= t('views.common_heads.actions.edit.add_item') %></label>
    <div class="controls">
      <p>
        <input class="span2 error" id="item_cd" type="text" />
        <button class="btn btn-info" id="item_search" type="button"><i class="icon-search"></i><%= t("views.common_heads.actions.form.search") %></button>
        <div class="checkbox">
          <input id="is_jan" type="checkbox" checked="false"><%= t("views.common_heads.actions.form.is_jan") %></input>
        </div>
      </p>
      <p>
        <input class="span2 uneditable-input" id="item_skucd" type="text" disabled="disabled" />
        <input class="span2 uneditable-input" id="item_jancd" type="text" disabled="disabled" />
        <input class="span3 uneditable-input" id="item_name" type="text" disabled="disabled" />
        <input class="span2 uneditable-input" id="item_kind" type="text" disabled="disabled" />
        <input class="span1 uneditable-input" id="item_price" type="text" disabled="disabled" style="text-Align:right;" />
        <input class="span1 uneditable-input" id="item_carton" type="text" disabled="disabled" style="text-Align:right;" />
      </p>
      <p>
        <%= f.link_to_add t('views.common_heads.actions.edit.btn_add_item').html_safe, :common_bodies, :data => { :target => "#common_bodies" }, class: "btn btn-primary", id: 'add_item'%>
      </p>
      <table class="table table-bordered table-striped" id="common_bodies">
        <thead>
          <tr>
            <th class="span2"><%= t('activerecord.attributes.item.skucd') %></th>
            <th><%= t('activerecord.attributes.item.jancd') %></th>
            <th><%= t('activerecord.attributes.item.name') %></th>
            <th><%= t('activerecord.attributes.item.kind') %></th>
            <th><%= t('activerecord.attributes.item.price') %></th>
            <th><%= t('activerecord.attributes.item.carton') %></th>
            <th class="span2"></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :common_bodies, :wrapper => false %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save'), class: "btn btn-warning btn-large" %>
    <%= link_to t('buttons.back'), common_heads_path, class: "btn btn-large" %>
  </div>
<% end %>
