<% content_for :javascript do %>
  <%= javascript_include_tag 'display_condition' %>
<% end %>

<div class="page-header">
  <h3><%= t('views.common_heads.actions.index.title').html_safe %></h3>
</div>

<div class="well">
  <%= link_to t('buttons.new').html_safe, new_common_head_path, class: "btn btn-primary" %>
</div>

<%= render partial: "shared/display_condition" %>

<%= paginate @common_heads %>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th class="span2"><%= t('activerecord.attributes.common_head.cd') %></th>
      <th ><%= t('activerecord.attributes.common_head.name') %></th>
      <th class="span2"><%= t('views.common_heads.actions.index.common_bodies_count') %></th>
      <th class="span2"></th>
      <th class="span2"></th>
    </tr>
  </thead>
  <tbody>
    <% @common_heads.each do |common_head| %>
      <tr>
        <td><%= common_head.cd %></td>
        <td><%= common_head.name %></td>
        <td style="text-Align:right;"><%= common_head.common_bodies.length %></td>
        <td style="text-Align:center;"><%= link_to t('buttons.edit').html_safe, edit_common_head_path(common_head), class: "btn btn-warning" %></td>
        <td style="text-Align:center;"><%= destroy_link_to common_head %></td>
      </tr>
    <% end %>
  </tbody>
</table>