<%= image_tag 'logo_long.png' %>

<%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' } do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <label class="control-label"><%= f.label :email %></label>
    <div class="controls">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('devise.buttons.reset_password'), class: 'btn btn-primary' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
