<div>
  <% pers = [10, 25, 50, 100] %>
  <select class="page">
    <% pers.each do |per| %>
      <% if params[:per] === per.to_s %>
        <option value="<%= per %>" selected><%= per %></option>
      <% else %>
        <option value="<%= per %>"><%= per %></option>
      <% end %>
    <% end %>
  </select>
  <span><%= t("display_condition.number") %></span>
</div>

<div>
  <span></span>
  <div class="input-append" id="">
    <input type="text" id="keyword" class="span3" value="<%= params[:keyword] %>">
    <button class="btn search" id="search" type="button">
      <i class="icon-search"></i>
      <%= t("display_condition.search") %>
    </button>
  </div>
</div>
