<div id="footer">
  <div class="container">
    <div class="muted credit">Copyright&copy; 2013 <a href="http://www.usknet.com/" target="_blank">USAC SYSTEM CO.,LTD.</a> All Rights Reserved.</div>
  </div>
</div>