<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%= root_path %>"><%= t('title.pittaly') %></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to t('navbar.dashboard').html_safe, root_path %></li>
          <li><%= link_to t('navbar.license').html_safe, licenses_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('navbar.cloud').html_safe %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('navbar.upload').html_safe, upload_path %></li>
              <li><%= link_to t('navbar.download').html_safe, download_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('navbar.master').html_safe %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('navbar.item').html_safe, items_path %></li>
              <li><%= link_to t('navbar.office').html_safe, offices_path %></li>
              <li><%= link_to t('navbar.staff').html_safe, staffs_path %></li>
              <li><%= link_to t('navbar.category').html_safe, categories_path %></li>
              <li><%= link_to t('navbar.mylist').html_safe, common_heads_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('navbar.help').html_safe %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('navbar.specification').html_safe, "/specification" %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> <%= current_user.profile.company %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t('navbar.logout').html_safe , destroy_user_session_path, method: 'delete' %>
              </li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>