<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%= new_user_session_path %>"><%= t('title.pittaly') %></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to '<i class="icon-file-alt"></i> '.html_safe + "ファイルレイアウト" %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>