<div class="modal hide fade" id="modal_information" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal_label"><%= information.title %></h4>
      </div>
      <div class="modal-body">
        <%= simple_format(information.article) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("views.information.close") %></button>
      </div>
    </div>
  </div>
</div>
