<div class="page-header">
  <h3><%= t('views.results.actions.index.title').html_safe %></h3>
</div>

<div class="container-fluid">
  <div>
    <% if @information.length != 0 %>
      <!-- お知らせ -->
      <% information = @information.first %>
      <%= render partial: "information" , locals: { information: information } %>
      <button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#modal_information">
        <%= t("views.information.title") %>
      </button>
      <%= t("views.information.updated_at") + " " + information.updated_at.strftime("%Y/%m/%d") %>
    <% end %>
  </div>
  <br />

  <div class="row-fluid">
    <div class="span5">
      <div class="alert alert-success">
        <strong><%= t('views.results.actions.index.alert.status') << ' ' << Date.today.strftime('%Y/%m/01') << ' - ' << Date.today.end_of_month.strftime('%Y/%m/%d') %></strong>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th><%= t('views.results.actions.index.table.license_count') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('views.results.actions.index.table.license_of_use') %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= @licenses.count %></td>
          </tr>
          <tr>
            <td><%= t('views.results.actions.index.table.stop_license') %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= @licenses.activate_licenses(false).count %></td>
          </tr>
          <tr>
            <td><%= t('views.results.actions.index.table.carry_over') %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= @licenses.count - @licenses.activate_licenses(false).count %></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th><%= t('views.results.actions.index.table.license_count') %></th>
            <th><%= t('views.results.actions.index.table.unit_price') %></th>
            <th><%= t('views.results.actions.index.table.amount') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t('views.results.actions.index.table.default_subtotal') %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= @licenses.default_license_count %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= number_with_delimiter(DEFAULT_UNIT_PRICE) %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= number_with_delimiter(@licenses.default_license_amount) %></td>
          </tr>
          <tr>
            <td><%= t('views.results.actions.index.table.option_subtotal') %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= @licenses.option_license_count %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= number_with_delimiter(OPTION_UNIT_PRICE) %></td>
            <td style="text-Align:right; font-Weight:bold;"><%= number_with_delimiter(@licenses.option_license_amount) %></td>
          </tr>
          <tr class="warning">
            <td colspan="3" style="font-Weight:bold; color:red"><%= t('views.results.actions.index.table.amount_billed_month') %></td>
            <td style="text-Align:right; font-Weight:bold; font-Size:large; color:red;"><%= number_with_delimiter(@licenses.count * DEFAULT_UNIT_PRICE) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span7">
      <div class="alert alert-info">
        <strong><%= t('views.results.actions.index.alert.today_count') %></strong>
      </div>
      <% body_count = 0 %>
      <% @results.each do |r| %>
        <% body_count += r.result_bodies.count %>
      <% end %>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="span1"><%= t('activerecord.attributes.category.name') %></th>
            <th class="span1"><%= t('activerecord.attributes.result_head.jobno') %></th>
            <th class="span1"><%= t('views.results.actions.index.table.body_count') %></th>
          </tr>
        </thead>
        <tbody>
          <% Category.user_categories(current_user).each do |c| %>
          <tr>
            <td><%= c.name %></td>
            <td style="text-Align:right;"><%= @results.where_categorycd(c.cd).count %></td>
            <% category_body_count = 0 %>
            <% @results.where_categorycd(c.cd).each do |b| %>
              <% category_body_count += b.result_bodies.count %>
            <% end %>
            <td style="text-Align:right;"><%= category_body_count %></td>
          </tr>
          <% end %>
          <tr class="warning">
            <td style="font-Weight:bold; font-Size:large; color:red;">合計</td>
            <td style="text-Align:right; font-Weight:bold; font-Size:large; color:red;"><%= @results.count %></td>
            <td style="text-Align:right; font-Weight:bold; font-Size:large; color:red;"><%= body_count %></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>