<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#item"><%= t('.master.item') %></a></li>
        <li><a href="#office"><%= t('.master.office') %></a></li>
        <li><a href="#staff"><%= t('.master.staff') %></a></li>
        <li><a href="#mylist"><%= t('.master.mylist') %></a></li>
        <li><a href="#cloud"><%= t('.data.cloud') %></a></li>
        <li><a href="#mobile"><%= t('.data.mobile') %></a></li>
        <li><a href="#barcode"><%= t('.barcode.title') %></a></li>
        <li><a href="#manual"><%= t('.manual.title') %></a></li>
      </ul>
      <!--Sidebar content-->
    </div>
    <div class="span9">
      <!--Body content-->
      <div class="page-header" id="item">
        <h3><i class="icon-cloud-upload"></i> <%= t('.master.item') %> <small><%= t('.small') %></small></h3>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span3"><%= t('.th.name') %></th>
            <th class="span2"><%= t('.th.form') %></th>
            <th class="input-mini"><%= t('.th.length') %></th>
            <th><%= t('.th.description') %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= t('.item.skucd') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td><%= t('.td.primary') %></td></tr>
          <tr><td><%= t('.item.jancd') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td></td></tr>
          <tr><td><%= t('.item.name') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td></td></tr>
          <tr><td><%= t('.item.category') %></td><td><%= t('.td.text') %></td><td class="number">20</td><td></td></tr>
          <tr><td><%= t('.item.price') %></td><td><%= t('.td.number') %></td><td class="number">9</td><td></td></tr>
          <tr><td><%= t('.item.carton') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
        </tbody>
      </table>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <div class="page-header" id="office">
        <h3><i class="icon-cloud-upload"></i> <%= t('.master.office') %> <small><%= t('.small') %></small></h3>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span3"><%= t('.th.name') %></th>
            <th class="span2"><%= t('.th.form') %></th>
            <th class="input-mini"><%= t('.th.length') %></th>
            <th><%= t('.th.description') %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= t('.office.cd') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td><%= t('.td.primary') %></td></tr>
          <tr><td><%= t('.office.name') %></td><td><%= t('.td.text') %></td><td class="number">30</td><td></td></tr>
        </tbody>
      </table>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <div class="page-header" id="staff">
        <h3><i class="icon-cloud-upload"></i> <%= t('.master.staff') %> <small><%= t('.small') %></small></h3>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span3"><%= t('.th.name') %></th>
            <th class="span2"><%= t('.th.form') %></th>
            <th class="input-mini"><%= t('.th.length') %></th>
            <th><%= t('.th.description') %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= t('.staff.cd') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td><%= t('.td.primary') %></td></tr>
          <tr><td><%= t('.staff.name') %></td><td><%= t('.td.text') %></td><td class="number">10</td><td></td></tr>
          <tr><td class="new"><%= t('.staff.office_cd') %></td><td class="new"><%= t('.td.text') %></td><td class="number new">50</td><td class="new"><%= t(".staff.office_notes").html_safe %></td></tr>
        </tbody>
      </table>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <div class="page-header" id="mylist">
        <h3><i class="icon-cloud-upload"></i> <%= t('.master.mylist') %> <small><%= t('.small') %></small></h3>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span3"><%= t('.th.name') %></th>
            <th class="span2"><%= t('.th.form') %></th>
            <th class="input-mini"><%= t('.th.length') %></th>
            <th><%= t('.th.description') %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= t('.mylist.cd') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td><%= t('.td.primary') %></td></tr>
          <tr><td><%= t('.mylist.name') %></td><td><%= t('.td.text') %></td><td class="number">30</td><td></td></tr>
          <tr><td><%= t('.item.skucd') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td></td></tr>
        </tbody>
      </table>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <div class="page-header" id="cloud">
        <h3><i class="icon-cloud-download"></i> <%= t('.data.cloud') %> <small><%= t('.small') %></small></h3>
      </div>
      <p class="well">
        <%= t('.note.result1').html_safe %>
        <br />
        <%= t('.note.result3').html_safe %>
      </p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span3"><%= t('.th.name') %></th>
            <th class="span2"><%= t('.th.form') %></th>
            <th class="input-mini"><%= t('.th.length') %></th>
            <th><%= t('.th.description') %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= t('.result.date') %></td><td><%= t('.td.number') %></td><td class="number">8</td><td><code>YYYYMMDD</code> <%= t('.td.format') %></td></tr>
          <tr><td><%= t('.result.time') %></td><td><%= t('.td.number') %></td><td class="number">6</td><td><code>HHMMSS</code> <%= t('.td.format') %></td></tr>
          <tr><td><%= t('.result.categorycd') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
          <tr><td><%= t('.result.categoryname') %></td><td><%= t('.td.text') %></td><td class="number">10</td><td></td></tr>
          <tr><td><%= t('.office.cd') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
          <tr><td><%= t('.office.name') %></td><td><%= t('.td.text') %></td><td class="number">30</td><td></td></tr>
          <tr><td><%= t('.staff.cd') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
          <tr><td><%= t('.staff.name') %></td><td><%= t('.td.text') %></td><td class="number">10</td><td></td></tr>
          <tr><td><%= t('.result.jobno') %></td><td><%= t('.td.number') %></td><td class="number">10</td><td><code>YYMMDD9999</code> <%= t('.td.format') %></td></tr>
          <tr><td class="new"><%= t('.result.head_string1') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.head_string2') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.head_string3') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.head_string4') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.head_string5') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.head_decimal1') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.head_decimal2') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.head_decimal3') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.head_decimal4') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.head_decimal5') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.head_date1') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.head_date2') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.head_date3') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.head_date4') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.head_date5') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td><%= t('.result.rowno') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
          <tr><td><%= t('.item.skucd') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td></td></tr>
          <tr><td><%= t('.item.jancd') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td></td></tr>
          <tr><td><%= t('.item.name') %></td><td><%= t('.td.text') %></td><td class="number">50</td><td></td></tr>
          <tr><td><%= t('.item.category') %></td><td><%= t('.td.text') %></td><td class="number">20</td><td></td></tr>
          <tr><td><%= t('.item.price') %></td><td><%= t('.td.number') %></td><td class="number">9</td><td></td></tr>
          <tr><td><%= t('.item.carton') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
          <tr><td><%= t('.result.quantity') %></td><td><%= t('.td.number') %></td><td class="number">5</td><td></td></tr>
          <tr><td class="new"><%= t('.result.body_string1') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.body_string2') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.body_string3') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.body_string4') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.body_string5') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">50</td><td></td></tr>
          <tr><td class="new"><%= t('.result.body_decimal1') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.body_decimal2') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.body_decimal3') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.body_decimal4') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.body_decimal5') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">10.3</td><td class="new"><%= t(".td.decimal") %></td></tr>
          <tr><td class="new"><%= t('.result.body_date1') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.body_date2') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.body_date3') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.body_date4') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
          <tr><td class="new"><%= t('.result.body_date5') %></td><td class="new"><%= t('.td.number') %></td><td class="number new">8</td><td class="new"><code>YYYYMMDD</code> <%= t(".td.format") %></td></tr>
        </tbody>
      </table>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <div class="page-header" id="mobile">
        <h3><i class="icon-mobile-phone"></i> <%= t('.data.mobile') %> <small><%= t('.small') %></small></h3>
      </div>
      <p><%= t('.note.result2') %></p>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <!-- バーコード対応表 -->
      <div class="page-header" id="barcode">
        <h3><i class="icon-barcode"></i> <%= t('.barcode.title') %></h3>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="span2"><%= t(".barcode.th.type") %></th>
            <th class="span2"><%= t(".barcode.th.camera") %></th>
            <th class="span2"><%= t(".barcode.th.btreader") %></th>
            <th class="span2"><%= t(".barcode.th.scanjacket") %></th>
            <th><%= t('.th.description') %></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= t(".barcode.td.jan") %>     </td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td></td></tr>
          <tr><td><%= t(".barcode.td.qr") %>      </td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ng") %></td><td><%= t(".barcode.td.ng") %></td><td></td></tr>
          <tr><td><%= t(".barcode.td.upc-a") %>   </td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td></td></tr>
          <tr><td><%= t(".barcode.td.upc-e") %>   </td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.note.upc_e") %></td></tr>
          <tr><td><%= t(".barcode.td.code39") %>  </td><td><%= t(".barcode.td.ng") %></td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td></td></tr>
          <tr><td><%= t(".barcode.td.code128") %> </td><td><%= t(".barcode.td.ng") %></td><td><%= t(".barcode.td.ok") %></td><td><%= t(".barcode.td.ok") %></td><td></td></tr>
        </tbody>
      </table>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <!-- マニュアルダウンロード -->
      <div class="page-header" id="manual">
        <h3><i class="icon-cloud-download"></i> <%= t('.manual.title') %></h3>
      </div>
      <a href="pittaly_manual.docx"><%= t(".manual.download") %></a>
      <div class="top"><i class="icon-arrow-up"></i> <%= t('.top') %></div>

      <!--Body content-->
    </div>
  </div>
</div>