<%= image_tag 'logo_long.png' %>

<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f| %>

  <div class="control-group">
    <label class="control-label"><%= f.label :email %></label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope-alt"></i></span>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :password %></label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="control-group">
    <label class="control-label"><%= f.label :remember_me %></label>
    <div class="controls">
      <%= f.check_box :remember_me %>
    </div>
  </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit t('devise.buttons.sign_in'), class: 'btn btn-primary' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
