<%= form_for @item, html: {class: "form-horizontal"} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %><strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :skucd %></label>
    <div class="controls">
      <%= f.text_field :skucd, class: 'span3' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :jancd %></label>
    <div class="controls">
      <%= f.text_field :jancd, class: 'span3' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %></label>
    <div class="controls">
      <%= f.text_field :name, class: 'span5' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :kind %></label>
    <div class="controls">
      <%= f.text_field :kind, class: 'span5' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :price %></label>
    <div class="controls">
      <%= f.number_field :price, class: 'span3' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :carton %></label>
    <div class="controls">
      <%= f.number_field :carton, class: 'span3' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save'), class: "btn btn-warning btn-large" %>
    <%= link_to t('buttons.back'), items_path, class: "btn btn-large" %>
  </div>
<% end %>
