<% content_for :javascript do %>
  <%= javascript_include_tag 'display_condition' %>
<% end %>

<div class="page-header">
  <h3><%= t('views.items.actions.index.title').html_safe %></h3>
</div>

<div class="well">
  <%= link_to t('buttons.new').html_safe, new_item_path, class: "btn btn-primary" %>
</div>

<%= render partial: "shared/display_condition" %>

<%= paginate @items %>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.item.skucd') %></th>
      <th><%= t('activerecord.attributes.item.jancd') %></th>
      <th><%= t('activerecord.attributes.item.name') %></th>
      <th><%= t('activerecord.attributes.item.kind') %></th>
      <th><%= t('activerecord.attributes.item.price') %></th>
      <th><%= t('activerecord.attributes.item.carton') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.skucd %></td>
        <td><%= item.jancd %></td>
        <td><%= item.name %></td>
        <td><%= item.kind %></td>
        <td style="text-Align:right;"><%= item.price %></td>
        <td style="text-Align:right;"><%= item.carton %></td>
        <td style="text-Align:center;"><%= link_to t('buttons.edit').html_safe, edit_item_path(item), class: "btn btn-warning" %></td>
        <td style="text-Align:center;"><%= destroy_link_to item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
