@import "bootstrap"
@import "sticky"
@import "bootstrap-responsive"
@import "bootstrap-switch"
@import "font-awesome"
@import "dataTables/jquery.dataTables.bootstrap"
@import "jquery.ui.datepicker"

// Bootstarp Table Width Non-Fluid
.table-nonfluid
  width:  auto

td.number
  text-align: right

div.top
  text-align: right

.modal_id
  width:  20%

.modal_name
  width:  70%

.modal_button
  width:  10%

.modal_select
  width:  60px

.ui-datepicker
  font-size:        100%
  z-index:          1000 !important

.new
  color:            red

.page
  width:            100px