body#login
  background-color: #f5f5f5

div#login
  padding-top: 60px
  max-width: 600px
  form
    padding: 19px 29px 29px
    margin: 60px auto 20px
    border: 1px solid #e5e5e5
    background-color: #fff

img#logo
  display: block
  margin: auto