// Fixed Navbar styles
// --------------------------------------------------
.navbar-fixed-top
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 1030
  margin-bottom: 0

// Sticky footer styles
// --------------------------------------------------

// The html and body elements cannot have any padding or margin.
html, body
  height: 100%

// Wrapper for page content to push down footer
#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  // Negative indent footer by it's height
  margin: 0 auto -60px

#wrap > .container-fluid
  padding-top: 60px
  // dheight: 500px
  // background-color: #f5f5f5

// Set the fixed height of the footer here
#push
  height: 60px

#footer
  height: 60px
  background-color: #f5f5f5

// Lastly, apply responsive CSS fixes as necessary
@media (max-width: 767px)
  #footer
    margin-left: -20px
    margin-right: -20px
    padding-left: 20px
    padding-right: 20px

.credit
  margin:     20px auto
  text-align: center