<% body_strings = f.object %>

<tr class="fields">
  <td><%= f.text_field :hint, class: "hint", readonly: true %></td>
  <td style="text-Align:center;">
    <%= f.link_to_remove '<i class="icon-trash"></i>'.html_safe, class: "btn btn-danger" %>
  </td>
</tr>
