<%= nested_form_for @category, html: {class: "form-horizontal"} do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label"><%= f.label :cd %></label>
    <div class="controls">
      <%= f.text_field :cd, class: 'span1' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"><%= f.label :name %></label>
    <div class="controls">
      <%= f.text_field :name, class: 'span3' %>
    </div>
  </div>

  <!-- ヘッダ文字予備 -->
  <div class="control-group">
    <label class="control-label"><%= t('views.categories.label.head_string') %></label>
    <div class="controls">
      <p>
        <input type="text" id="head_string_hint" class="span2" placeholder="<%= t('views.categories.label.hint') %>">
        <%= f.link_to_add '<i class="icon-plus"></i> '.html_safe + t('views.categories.button.add'), :head_strings, data: { target: '#head_strings' }, class: 'btn btn-primary', id: 'add_head_string', disabled: true %>
        <br />
        <label id="head_string_memo" />
      </p>
      <table class='table table-bordered table-striped table-condensed table-nonfluid' id='head_strings'>
        <thead>
          <tr>
            <th class='span4'><%= t('views.categories.label.hint') %></th>
            <th class='span1'></th>
          </tr>
        </thead>
        <tbody class="head_strings">
          <%= f.fields_for :head_strings, wrapper: false %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- ヘッダ数字予備 -->
  <div class="control-group">
    <label class="control-label"><%= t('views.categories.label.head_decimal') %></label>
    <div class="controls">
      <p>
        <input type="text" id="head_decimal_hint" class="span2" placeholder="<%= t('views.categories.label.hint') %>">
        <%= f.link_to_add '<i class="icon-plus"></i> '.html_safe + t('views.categories.button.add'), :head_decimals, data: { target: '#head_decimals' }, class: 'btn btn-primary', id: 'add_head_decimal', disabled: true %>
        <br />
        <label id="head_decimal_memo" />
      </p>
      <table class='table table-bordered table-striped table-condensed table-nonfluid' id='head_decimals'>
        <thead>
          <tr>
            <th class='span4'><%= t('views.categories.label.hint') %></th>
            <th class='span1'></th>
          </tr>
        </thead>
        <tbody class="head_decimals">
          <%= f.fields_for :head_decimals, wrapper: false %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- ヘッダ日付予備 -->
  <div class="control-group">
    <label class="control-label"><%= t('views.categories.label.head_date') %></label>
    <div class="controls">
      <p>
        <input type="text" id="head_date_hint" class="span2" placeholder="<%= t('views.categories.label.hint') %>">
        <%= f.link_to_add '<i class="icon-plus"></i> '.html_safe + t('views.categories.button.add'), :head_dates, data: { target: '#head_dates' }, class: 'btn btn-primary', id: 'add_head_date', disabled: true %>
        <br />
        <label id="head_date_memo" />
      </p>
      <table class='table table-bordered table-striped table-condensed table-nonfluid' id='head_dates'>
        <thead>
          <tr>
            <th class='span4'><%= t('views.categories.label.hint') %></th>
            <th class='span1'></th>
          </tr>
        </thead>
        <tbody class="head_dates">
          <%= f.fields_for :head_dates, wrapper: false %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 明細文字予備 -->
  <div class="control-group">
    <label class="control-label"><%= t('views.categories.label.body_string') %></label>
    <div class="controls">
      <p>
        <input type="text" id="body_string_hint" class="span2" placeholder="<%= t('views.categories.label.hint') %>">
        <%= f.link_to_add '<i class="icon-plus"></i> '.html_safe + t('views.categories.button.add'), :body_strings, data: { target: '#body_strings' }, class: 'btn btn-primary', id: 'add_body_string', disabled: true %>
        <br />
        <label id="body_string_memo" />
      </p>
      <table class='table table-bordered table-striped table-condensed table-nonfluid' id='body_strings'>
        <thead>
          <tr>
            <th class='span4'><%= t('views.categories.label.hint') %></th>
            <th class='span1'></th>
          </tr>
        </thead>
        <tbody class="body_strings">
          <%= f.fields_for :body_strings, wrapper: false %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 明細数字予備 -->
  <div class="control-group">
    <label class="control-label"><%= t('views.categories.label.body_decimal') %></label>
    <div class="controls">
      <p>
        <input type="text" id="body_decimal_hint" class="span2" placeholder="<%= t('views.categories.label.hint') %>">
        <%= f.link_to_add '<i class="icon-plus"></i> '.html_safe + t('views.categories.button.add'), :body_decimals, data: { target: '#body_decimals' }, class: 'btn btn-primary', id: 'add_body_decimal', disabled: true %>
        <br />
        <label id="body_decimal_memo" />
      </p>
      <table class='table table-bordered table-striped table-condensed table-nonfluid' id='body_decimals'>
        <thead>
          <tr>
            <th class='span4'><%= t('views.categories.label.hint') %></th>
            <th class='span1'></th>
          </tr>
        </thead>
        <tbody class="body_decimals">
          <%= f.fields_for :body_decimals, wrapper: false %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 明細日付予備 -->
  <div class="control-group">
    <label class="control-label"><%= t('views.categories.label.body_date') %></label>
    <div class="controls">
      <p>
        <input type="text" id="body_date_hint" class="span2" placeholder="<%= t('views.categories.label.hint') %>">
        <%= f.link_to_add '<i class="icon-plus"></i> '.html_safe + t('views.categories.button.add'), :body_dates, data: { target: '#body_dates' }, class: 'btn btn-primary', id: 'add_body_date', disabled: true %>
        <br />
        <label id="body_date_memo" />
      </p>
      <table class='table table-bordered table-striped table-condensed table-nonfluid' id='body_dates'>
        <thead>
          <tr>
            <th class='span4'><%= t('views.categories.label.hint') %></th>
            <th class='span1'></th>
          </tr>
        </thead>
        <tbody class="body_dates">
          <%= f.fields_for :body_dates, wrapper: false %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('buttons.save'), class: "btn btn-warning btn-large" %>
    <%= link_to t('buttons.back'), categories_path, class: "btn btn-large" %>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'categories' %>
<% end %>
