<% content_for :javascript do %>
  <%= javascript_include_tag 'display_condition' %>
<% end %>

<div class="page-header">
  <h3><%= t('views.categories.actions.index.title').html_safe %></h3>
</div>

<div class="well">
  <%= link_to t('buttons.new').html_safe, new_category_path, class: "btn btn-primary" %>
</div>

<%= render partial: "shared/display_condition" %>

<%= paginate @categories %>

<table class="table table-striped table-hover table-bordered" id="datatable">
  <thead>
    <tr>
      <th class="span2"><%= t('activerecord.attributes.category.cd') %></th>
      <th><%= t('activerecord.attributes.category.name') %></th>
      <th class="span2"></th>
      <th class="span2"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.cd %></td>
        <td><%= category.name %></td>
        <td style="text-Align:center;"><%= link_to t('buttons.edit').html_safe, edit_category_path(category), class: "btn btn-warning" %></td>
        <td style="text-Align:center;"><%= destroy_link_to category %></td>
      </tr>
    <% end %>
  </tbody>
</table>