<p><%= t('devise.mail.reset_password.mail_header', mail: @resource.email) %></p>


<p><%= t('devise.mail.reset_password.mail_body_1') %></p>
<p><%= t('devise.mail.reset_password.mail_body_2') %></p>

<p><%= link_to t('devise.mail.reset_password.mail_link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


<p><%= t('devise.mail.reset_password.mail_body_3') %></p>
<p><%= t('devise.mail.reset_password.mail_body_4') %></p>



<hr />
<%= t('devise.mail.reset_password.mail_footer') %>
