<!DOCTYPE html>
<html>
<head>
  <title><%= t('title.pittaly') %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag "base", media: "all" %>
  <%= stylesheet_link_tag "login", media: "all" %>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body id="login">
<div id="wrap">
  <div class="container" id="login">
    <%= bootstrap_flash %>
    <%= yield %>
    <%= link_to t('.help').html_safe, "/specification" %>
  </div>
  <div id="push"></div>
</div>
<%= render partial: "shared/footer" %>
<%= javascript_include_tag "application" %>
<%= render partial: "shared/production_ga" if Rails.env == "production" %>
<%= render partial: "shared/staging_ga" if Rails.env == "staging" %>
</body>
</html>